<template>
<div>
  <h1>Login</h1>
  <div>
    <label>Email:</label>
    <input v-model="email" class="login_input_email" type="email" name="loginEmail">
  </div>
  <h4 v-show="isEmailFilled" class="login_h4_email" >
    O email deve ser no formato email@dominio.com
  </h4>
  <div>
    <label>Password:</label>
    <input v-model="password" class="login_input_password" type="text" name="loginPassword">
  </div>
    <h4 v-show="isPasswordFilled" class="login_h4_password" >
      A senha deve ter mais que 6 caracteres
    </h4>
  <button @click="doLogin" class="login_button_login" >Login</button>
  <h4 id="wrongLogin" class="login_wrong_login" style="visibility:hidden">
    O usuário não possui acesso
  </h4>

</div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: '',
  }),
  computed: {

    isEmailFilled() {
      const { isEmailValid, email, isEmailSizeValid } = this;
      return isEmailValid(email) && isEmailSizeValid(email);
    },

    isPasswordFilled() {
      const { isPasswordValid, password } = this;
      return isPasswordValid(password);
    },

    isLoginCompleted() {
      const {
        isEmailValid, isPasswordValid, email, password,
      } = this;
      return !(isEmailValid(email) && isPasswordValid(password));
    },

  },
  methods: {
    isEmailSizeValid(string) {
      return string.length > 1;
    },

    isEmailValid(string) {
      const regex = /\S+@\S+\.\S+/;
      return !(regex.test(string));
    },

    isPasswordValid(string) {
      return string.length < 6 && string.length > 0;
    },

    doLogin() {
      const { validateLogin, email, password } = this;
      if (validateLogin(email, password)) {
        this.$router.push({ name: 'UserForm' });
      } else {
        document.getElementById('wrongLogin').style.visibility = 'visible';
      }
    },

    validateLogin(emailForTest, passwordForTest) {
      for (let i = 1; i < 101; i += 1) {
        const emailValid = `email_${i}@gmail.com`;
        const passwordValid = `password${i}`;

        if (emailForTest === emailValid && passwordForTest === passwordValid) {
          localStorage.token = i;
          return true;
        }
      }
      return false;
    },

  },
};
</script>

<style>
</style>
