<template>
<div>
  <h1>User Form</h1>
  <div>
    <label>Email:</label>
    <input v-model="email" class="user_form_input_email" type="email" name="userFormEmail">
  </div>
  <h4 v-show="isEmailFilled" class="user_form_h4_email_completed" >
    O email deve ser no formato email@dominio.com
  </h4>
  <h4 v-show="isEmailEquals" class="user_form_h4_email_equals" >
    O email deve ser o mesmo do login
  </h4>
  <div>
    <label>Idade:</label>
    <input v-model="age" class="user_form_input_age" type="text" name="userFormAge">
  </div>

  <h4 v-show="isAgeRight" class="user_form_h4_age" >
    A idade tem que estar entre 18 e 99, e deve ser apenas numérica
  </h4>

  <label for="system">SO</label>
    <select v-model="system" name="user_form_select_system">
      <option value="" disabled selected hidden>Choose your System</option>
      <option value="Windows">Windows</option>
      <option value="Linux">Linux</option>
    </select>

    <h4 v-show="isSoChosen" class="user_form_h4_so" >Deve escolher um SO</h4>

    <h1 v-show="isFilled" class="user_form_h1_filled" >Parabéns!</h1>

</div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    age: '',
    system: '',
    numberUser: '',
  }),
  mounted() {
    this.numberUser = localStorage.getItem('token');
  },
  computed: {

    isEmailFilled() {
      const { isEmailValid, email, isEmailSizeValid } = this;
      return isEmailValid(email) && isEmailSizeValid(email);
    },
    isEmailEquals() {
      const { isEmailLog, email, isEmailSizeValid } = this;
      return (isEmailLog(email) && isEmailSizeValid(email));
    },

    isAgeRight() {
      const { age, hasOnlyNumber } = this;
      return (age.length > 0 && ((age < 17 || age > 99) || hasOnlyNumber(age)));
    },

    isSoChosen() {
      const { system, isSoEmpty } = this;
      return !(isSoEmpty(system));
    },

    isFilled() {
      const {
        isAgeValid, isEmailLog, isSoEmpty, email, age, system,
      } = this;
      return (!(isEmailLog(email)) && isAgeValid(age) && isSoEmpty(system));
    },

  },

  methods: {

    isEmailSizeValid(string) {
      return string.length > 1;
    },

    hasOnlyNumber(string) {
      const regex = /^[0-9]+$/;
      return !(regex.test(string));
    },

    isAgeValid(number) {
      return (number.length > 0 && ((number > 17 || number < 99) || this.hasOnlyNumber(number)));
    },

    isEmailValid(string) {
      const regex = /\S+@\S+\.\S+/;
      return !(regex.test(string));
    },

    isSoEmpty(string) {
      return !!(string !== '');
    },

    isEmailLog(string) {
      const emailLog = `email_${this.numberUser}@gmail.com`;
      if (string === emailLog) {
        return false;
      }
      return true;
    },

  },
};
</script>

<style>
</style>
